<div class="todo-app">
  <div class="todo-title">My TODO App</div>
  <!--  <div class="todo-list"></div>-->
  <div class="pt-2">
    <form [formGroup]="todoGroup">
      <ng-container
        formArrayName="tableRows"
        *ngFor="let group of getFormControls.controls; let i = index"
      >
        <table class="table table-bordered" mat-table [dataSource]="dataSource">
          <!--        <thead>-->
          <!--          <tr class="text-uppercase table-dark">-->
          <!--            <th scope="col">Description</th>-->
          <!--            <th scope="col">Status</th>-->
          <!--            <th scope="col">Finish Date</th>-->
          <!--          </tr>-->
          <!--        </thead>-->
          <!--        <tbody >-->

          <tr [formGroupName]="i">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>description</th>
              <td mat-cell *matCellDef="let element">
                <input
                  matInput
                  type="text"
                  class="form-control"
                  formControlName="description"
                  [placeholder]="element.description"
                  [value]="element.description?.[i]"
                />
                <!--                <div-->
                <!--                  class="text-danger"-->
                <!--                  *ngIf="-->
                <!--                    getFormControls.controls[i].get('description')?.touched-->
                <!--                  "-->
                <!--                ></div>-->
              </td>
            </ng-container>
            <!--              <td>-->
            <!--                <input-->
            <!--                  type="text"-->
            <!--                  class="form-control"-->
            <!--                  formControlName="status"-->
            <!--                  placeholder="Enter Last"-->
            <!--                />-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input-->
            <!--                  type="text"-->
            <!--                  class="form-control"-->
            <!--                  formControlName="finishDate"-->
            <!--                  placeholder="Enter City"-->
            <!--                />-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <button class="btn btn-danger" (click)="removeEmployee(i)">-->
            <!--                  Remove-->
            <!--                </button>-->
            <!--              </td>-->
          </tr>

          <!--          <ng-container>-->
          <!--            <tr>-->
          <!--              <td colspan="7">-->
          <!--                <div class="row">-->
          <!--                  <div class="col-12 text-center">-->
          <!--                    <button-->
          <!--                      class="btn btn-success"-->
          <!--                      [disabled]="employeeForm.invalid"-->
          <!--                      (click)="onSaveForm()"-->
          <!--                    >-->
          <!--                      Save Bulk Employee-->
          <!--                    </button>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </td>-->
          <!--            </tr>-->
          <!--          </ng-container>-->
          <!--        </tbody>-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </ng-container>
    </form>
  </div>
</div>
