app-todo {
  //width: 100%;
  //margin: auto 0;
  background-color: var(--red-to-pink-to-purple-vertical-gradient);

  .todo-app {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    .todo-title {
      font-size: 30px;
      font-weight: bold;
      margin: 20px 0 20px 0;
    }

    .todo-list {
      .mat-mdc-header-cell.mat-column-description {
        width: 300px;
      }
    }
  }
}
